<table>
  <tr valign="top">
    <td width="300">
      <h2>User Info:</h2>
      <b>Name:&nbsp;&nbsp;</b>
        <%= @user.fullName %><br /><br />

      <b>Email:&nbsp;&nbsp;</b>
        <%= @user.email %><br /><br />

      <b>Bio:&nbsp;&nbsp;</b>
        <%= @user.bio %><br /><br />

      <b>Age:&nbsp;&nbsp;</b>
        <%= @user.age %><br /><br />

      <b>Curr Location:</b>
        <%= @user.curr_location %><br><br><br>

        <%= link_to "Edit", edit_user_path(@user) %> |
        <%= link_to "View All", users_path %>
    </td>
    <td width="10">&nbsp;</td>
    <td width="250">
      <h2>Games Attending:</h2>
      <table class="datagrid">
        <thead class="datagrid">
          <th width="90">Game</th>
          <th width="90">Time</th>
          <th width="90">Location</th>
        </thead>
      
      <%= "Will show games user is going to" %>
      <% for game_pair in @games_attending %>
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
          <td align="left">&nbsp;<%= game_pair.id %></td>
          <td align="left">&nbsp;<%= game_pair.game.sport.title %></td>
          <td align="left">&nbsp;<%= game_pair.game.location.name %></td>
        </tr>
      <% end %>
        
      </table>
      <p class="supertiny">&nbsp;</p>
    </td>
  </tr>
</table> 

