<p id="notice"><%= notice %></p>

<p>
  <strong>Friend1id:</strong>
  <%= @friendship.friend1ID %>
</p>

<p>
  <strong>Friend2id:</strong>
  <%= @friendship.friend2ID %>
</p>

<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
