<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @game.time %>
</p>

<p>
  <strong>Max size:</strong>
  <%= @game.max_size %>
</p>

<p>
  <strong>Curr size:</strong>
  <%= @game.curr_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location_id %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @game.sport_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
