<p id="notice"><%= notice %></p>

<h1>User Sport Pairs</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Sportid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sport_pairs.each do |user_sport_pair| %>
      <tr>
        <td><%= user_sport_pair.userID %></td>
        <td><%= user_sport_pair.sportID %></td>
        <td><%= link_to 'Show', user_sport_pair %></td>
        <td><%= link_to 'Edit', edit_user_sport_pair_path(user_sport_pair) %></td>
        <td><%= link_to 'Destroy', user_sport_pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Sport Pair', new_user_sport_pair_path %>
