<%= form_with(model: user_game_pair, local: true) do |form| %>
  <% if user_game_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_game_pair.errors.count, "error") %> prohibited this user_game_pair from being saved:</h2>

      <ul>
      <% user_game_pair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :maybe_going %>
    <%= form.text_field :maybe_going, id: :user_game_pair_maybe_going %>
  </div>

  <div class="field">
    <%= form.label :is_creator %>
    <%= form.text_field :is_creator, id: :user_game_pair_is_creator %>
  </div>

  <div class="field">
    <%= form.label :userID %>
    <%= form.number_field :userID, id: :user_game_pair_userID %>
  </div>

  <div class="field">
    <%= form.label :gameID %>
    <%= form.number_field :gameID, id: :user_game_pair_gameID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
