<p id="notice"><%= notice %></p>

<h1>My Upcoming Games</h1>

<table class = "gamesTable">
  <thead>
    <tr>
      <th>Sport</th>
      <th>Location</th>
      <th>Time</th>
      <th>Going?</th>
      <th>View Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_game_pairs.each do |user_game_pair| %>
      <tr>
        <td><%= user_game_pair.game.sport.title %></td>
        <td><%= user_game_pair.game.location.name %></td>
        <td><%= user_game_pair.game.time.to_datetime.strftime("%b %d, %l:%M%P") %></td>
        <td><%= user_game_pair.maybe_going ? "Going" : "Maybe" %></td>
        <td><%= link_to 'Show', user_game_pair, class: 'button game_info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Game Pair', new_user_game_pair_path %>
